# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Editor/OS
.DS_Store
.cache/

# Ignore workflow and release artifacts
*.alfredworkflow
*.zip

# Ignore test output
coverage/

# Go modules

# IDE/editor
.idea/
.vscode/

bin/
