<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.loginx.timein</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>81D943E0-84C0-44D9-B340-3A629B6ABBC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7324394-5ABB-40F3-8A7F-BA59B886333F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Xavier Spriet</string>
	<key>description</key>
	<string>Search for the current local time in any city via the `timein` keyword.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TimeIn</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E7324394-5ABB-40F3-8A7F-BA59B886333F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>timein</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Bangkok</string>
				<key>title</key>
				<string>city</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>81D943E0-84C0-44D9-B340-3A629B6ABBC8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A fast, zero-config Alfred workflow that tells you the current local time in any city using natural language input.</string>
	<key>uidata</key>
	<dict>
		<key>81D943E0-84C0-44D9-B340-3A629B6ABBC8</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>E7324394-5ABB-40F3-8A7F-BA59B886333F</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.4</string>
	<key>webaddress</key>
	<string>https://github.com/loginx/alfred-timein</string>
</dict>
</plist>
